.body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #f9f9f9;
}

.list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    margin: 0 20px;
    color: #444;
}

.link {
    color: #444;
    text-decoration: none;
    transition: color .4s ease-in-out;
    padding: 10px;
    position: relative;
    display: block;
}

.link:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: tomato;
    position: absolute;
    left: 0;
}

.link:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: tomato;
    position: absolute;
    left: 0;
}

.link:hover {
    color: tomato;
}

.logo {
    width: 100px;
    
}