.body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #f9f9f9;
}

@media screen and (max-width: 767px) {
    .header {
        padding: 10px 30px;
    }
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .list {
        display: flex;
    }
}

.item {
    margin: 0 20px;
    color: #444;
}

.link {
    color: #444;
    text-decoration: none;
    transition: color .4s ease-in-out;
    padding: 10px;
    position: relative;
    display: block;
}

.link:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: tomato;
    position: absolute;
    left: 0;
}

.link:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: tomato;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
    transform-origin: 50% 50%;
}

.link:hover {
    color: tomato;
}

.link:hover:after {
    color: tomato;
    transform: scaleX(0.7);
}

.logo {
    width: 100px;
    
}

@media screen and (max-width: 767px) {
    .logo {
        width: 50px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        position: fixed;
        background: #f7f7f7;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s ease-in-out;
        }
    }

.menu-button {
    border: none;
    border-radius:10px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    padding: 8px 12px;
    text-decoration: none;
    box-sizing: border-box;
    transition: background .5s ease-in-out;
}

.menu-button img {
    width: 30px;
    height: 30px;
}

.menu-button:hover {
    background-color: gray;
}

@media screen and (min-width: 768px) {
.menu-button {
    display: none;
    }
}

.menu-open {
    opacity: 1;
    pointer-events: initial;
}

.menu-close {
    position: fixed;
    border: initial;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #f7f7f7;
  }

/* criar um bortao de fechar */
/* estilizar o botao do menu */